---
layout: default
---
{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
<h1 class="page-heading">{{ page.tag }}</h1>

<ul class="post-list">
  {%- for post in site.tags[page.tag] -%}
  <li class="post-item">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    <div class="byline">
      <span>{{ post.date | date: date_format }}</span>
    </div>
    {%- if post.description and post.description != "" -%}
    <p>{{ post.description }}</p>
    {%- endif -%}
    <a class="read-more" href="{{ post.url | relative_url }}">Read more &rarr;</a>
  </li>
  {%- endfor -%}
</ul>
